.layout {
  min-height: 100vh;
}

.content {
    padding: 0 50px;
  }

.siteLayoutContent {
    min-height: 100%;
    padding: 24px;
    background: #fff;
    background-image: url(../icons/kimi-lee-CeTG8ySZKpU-unsplash.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}

